body {
  --inf-grey1: #16171e;
  --inf-grey2: #1a1c23;
  --inf-grey3: #23252e;
  --inf-grey4: #272a34;
  --inf-grey5: #323643;

  --inf-blue1: #2777ff;
  --inf-blue2: #005af3;

  --inf-white3: #eeeeec;
  --inf-white2: #bbbbbd;
  --inf-white1: #888a8d;
}

body {
  max-width: 100%;
  min-width: 300px;
  margin: 0;
  padding: 0;
  background-color: var(--inf-grey4);
  color: var(--inf-white3);
  font-family: sans-serif;
}

nav {
  padding: 15px;
  display: flex;
  background-color: var(--inf-grey2);
  border-bottom: 1px black solid;
}

input,
select,
button {
  border-width: 1px;
  border-style: solid;
  border-radius: 4px;
  background-color: var(--inf-grey5);
  border-color: black;
  color: inherit;
  font-family: inherit;
  font-size: medium;
  outline: none;
  box-shadow: 0px 1px #00000088;
  padding: 5px 10px;
}

input[type="submit"]:hover,
button:hover {
  background-color: var(--inf-grey4);
}

nav > div {
  flex-grow: 1;
}

h1 {
  margin: 0;
}

main {
  max-width: min(calc(100% - 30px), 1000px);
  margin: 0 auto 100px;
  overflow-x: hidden;
}

#search-bar {
  flex-grow: 3;
}

#search-button {
  width: min-content;
}

#search-form {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
}

#search-form > select {
  flex-grow: 1;
}

.sub-list {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
}

.sub-display {
  background-color: var(--inf-grey2);
  border-radius: 5px;
  padding: 10px;
}

.sub-display h4 {
  margin: 0;
}

.sub-display img {
  max-width: 100%;
}

.sub-display a,
.sub-display span {
  /*font-size: large;*/
  color: inherit;
  text-decoration: none;
}

.sub-display br {
  margin: 10px 0;
}

.sub-quote {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

.sub-quote button {
  height: min-content;
}

.sub-time {
  margin-top: 5px;
  text-align: end;
  color: var(--inf-white1);
}